{{template "header" .}}
<div class="container">
    <div class="row">
        <div class="col-md-6 offset-md-3 mt-5">
            <h1 class="mb-4">Cloud & Upload Configuration</h1>
            <form action="/app" method="post">
                <div class="mb-3">
                    <label for="agentToken" class="form-label">Agent Token:</label>
                    <input type="text" value="{{.BodyData.AgentToken}}" class="form-control" id="agentToken" name="agentToken" required>
                </div>
                <input type="submit" class="btn btn-primary" value="Submit">
            </form>
        </div>
    </div>
</div>
{{template "footer" .}}

