{{template "header" .}}
<div class="container">
    <div class="row">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Application Connection Information</h5>
                {{ if .BodyData.AgentInfoErr }}
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item"><b>Status:</b> <i class="bi bi-exclamation-circle" style="color: red"></i> {{ .BodyData.AgentInfoErr }}</li>
                    </ul>
                {{ end }}
                {{ if .BodyData.AgentInfo.TenantName }}
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item"><b>Status:</b> <i class="bi bi-check-circle-fill" style="color: green"></i> Connected!</li>
                        <li class="list-group-item"><b>Name:</b> {{ .BodyData.AgentInfo.TenantName }}</li>
                        <li class="list-group-item"><b>Agent:</b> {{ .BodyData.AgentInfo.AgentName }}</li>
                    </ul>
                {{ end }}
            </div>
        </div>
    </div>
</div>
{{template "footer" .}}
